html {
    background-color: rgb(132, 240, 132);
}

body {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    text-align: center;
    max-width: 100vw;
    max-height: 95vh;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1px;
}
h1, h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* h2 {
    text-align: justify;
    padding: 0px 20px;
} */

a {
    color: white;
    text-decoration: none;
}
a:hover {
    background-color: rgba(236, 234, 99, 0.87);
    border-radius: 5px;
    color: black;
}

table {
    /* width: 420px;
    height: 420px; */
    border-collapse: collapse;
    border: 5px solid red;
}

td, th {
    border: 2px solid black;
    vertical-align: middle;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX  TABELA_GRANDE  XXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#t02 {
    border: 2px solid black;
    margin-top: 5px;
}